.a-profile-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.a-profile-resume-section {
  width: 100%;
  max-width: 1170px;
}
.a-profile-image {
  top: 0px;
  left: 0px;
  width: 120px;
  height: 120px;
  position: absolute;
}
.a-profile-name-and-bio {
  max-width: 400px;
}
.a-profile-text02 {
  color: var(--dl-color-grey-grey600);
  height: auto;
  opacity: 0.50;
  text-align: left;
  line-height: 16px;
}
.a-profile-text04 {
  color: var(--dl-color-yellow-yellow900);
  height: auto;
  text-align: left;
  line-height: normal;
}
.a-profile-text06 {
  color: var(--dl-color-grey-grey600);
  height: auto;
  opacity: 0.50;
  text-align: left;
  line-height: 16px;
}
.a-profile-text08 {
  color: var(--dl-color-yellow-yellow900);
  height: auto;
  text-align: left;
  line-height: normal;
}
.a-profile-profile-assignor-info {
  gap: 48px;
  width: 100%;
  display: flex;
  padding: 32px;
  overflow: hidden;
  position: relative;
  max-width: 1170px;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(235, 235, 235, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 16px;
  flex-direction: column;
  background-color: var(--dl-color-default-white);
}
.a-profile-tabs {
  gap: 16px;
  display: flex;
  align-items: flex-start;
}
.a-profile-tab {
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  background-color: transparent;
}
.a-profile-text10 {
  color: var(--dl-color-yellow-yellow900);
  height: auto;
  text-align: left;
  transition: 0.3s;
  line-height: 14px;
}
.a-profile-text10:active {
  color: var(--dl-color-yellow-yellow900);
}
.a-profile-tab1 {
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  background-color: transparent;
}
.a-profile-text11 {
  color: var(--dl-color-grey-grey600);
  height: auto;
  text-align: left;
  transition: 0.3s;
  line-height: 14px;
}
.a-profile-text11:active {
  color: var(--dl-color-yellow-yellow900);
}
.a-profile-info-container {
  gap: 48px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.a-profile-form {
  gap: 24px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.a-profile-form-container {
  flex-direction: column;
}
.a-profile-general-text-field {
  gap: 8px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.a-profile-label-container {
  gap: 10px;
  display: flex;
  padding: 0 0 0 16px;
  align-items: flex-start;
}
.a-profile-fullname {
  color: var(--dl-color-grey-grey700);
  height: auto;
  text-align: left;
  line-height: normal;
  text-transform: uppercase;
}
.a-profile-general-text-field1 {
  gap: 8px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.a-profile-label-container1 {
  gap: 10px;
  display: flex;
  padding: 0 0 0 16px;
  align-items: flex-start;
}
.a-profile-sports-text {
  color: var(--dl-color-grey-grey700);
  height: auto;
  text-align: left;
  line-height: normal;
  text-transform: uppercase;
}
.a-profile-general-text-field2 {
  gap: 8px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.a-profile-label-container2 {
  gap: 10px;
  display: flex;
  padding: 0 0 0 16px;
  align-items: flex-start;
}
.a-profile-city-text {
  color: var(--dl-color-grey-grey700);
  height: auto;
  text-align: left;
  line-height: normal;
  text-transform: uppercase;
}
.a-profile-form-row1 {
  gap: 30px;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.a-profile-general-text-field3 {
  gap: 8px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.a-profile-label-container3 {
  gap: 10px;
  display: flex;
  padding: 0 0 0 16px;
  align-items: flex-start;
}
.a-profile-phone-number {
  color: var(--dl-color-grey-grey700);
  height: auto;
  text-align: left;
  line-height: normal;
  text-transform: uppercase;
}
.a-profile-general-text-field4 {
  gap: 8px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.a-profile-label-container4 {
  gap: 10px;
  display: flex;
  padding: 0 0 0 16px;
  align-items: flex-start;
}
.a-profile-email {
  color: var(--dl-color-grey-grey700);
  height: auto;
  text-align: left;
  line-height: normal;
  text-transform: uppercase;
}
.a-profile-general-text-field5 {
  gap: 8px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.a-profile-label-container5 {
  gap: 10px;
  display: flex;
  padding: 0 0 0 16px;
  align-items: flex-start;
}
.a-profile-email1 {
  color: var(--dl-color-grey-grey700);
  height: auto;
  text-align: left;
  line-height: normal;
  text-transform: uppercase;
}
.a-profile-about-message {
  color: var(--dl-color-yellow-yellow900);
  height: auto;
  text-align: left;
  line-height: normal;
}
.a-profile-textarea {
  width: 100%;
  height: 100px;
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-grey-grey500);
  padding-left: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.a-profile-button {
  gap: 12px;
  width: auto;
  display: flex;
  padding: 14px 24px;
  align-items: flex-start;
  border-radius: 100px;
  background-color: var(--dl-color-yellow-yellow400);
}
.a-profile-text13 {
  color: var(--dl-color-yellow-yellow900);
  height: auto;
  text-align: left;
  line-height: 16px;
}
@media(max-width: 991px) {
  .a-profile-inner-container {
    padding-left: 24px;
    padding-right: 24px;
  }
  .a-profile-form-row1 {
    flex-wrap: wrap;
  }
}
