.forgot-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.forgot-log-in {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-default-white);
}
.forgot-form-container {
  background-size: cover;
  background-color: transparent;
  background-image: url("/img/forgotpassword-1500h.jpg");
}
