.s-dashboard-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.s-dashboard-dashboard {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-grey-grey200);
}
.s-dashboard-content-container {
  gap: var(--dl-space-space-oneandhalfunits);
}
.s-dashboard-lists-container {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: 1170px;
  align-items: flex-start;
  justify-content: center;
}
.s-dashboard-column-left {
  flex: 1;
  width: 100%;
}
.s-dashboard-frame115 {
  gap: 10px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  padding-top: 8px 0;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: 8px 0;
}
.s-dashboard-text {
  color: var(--dl-color-grey-grey500);
  height: auto;
  text-align: left;
  line-height: normal;
}
.s-dashboard-frame122 {
  gap: 10px;
  width: auto;
  display: flex;
  align-items: center;
  padding-top: 8px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: 8px;
  justify-content: center;
}
.s-dashboard-text01 {
  color: var(--dl-color-grey-grey500);
  height: auto;
  text-align: left;
  line-height: normal;
}
.s-dashboard-frame1221 {
  gap: 10px;
  display: flex;
  align-items: center;
  padding-top: 8px 0;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: 8px 0;
  justify-content: center;
}
.s-dashboard-text02 {
  color: var(--dl-color-grey-grey500);
  height: auto;
  text-align: left;
  line-height: normal;
}
.s-dashboard-frame121 {
  gap: 10px;
  display: flex;
  align-items: center;
  padding-top: 8px;
  padding-left: 34px;
  padding-right: 34px;
  padding-bottom: 8px;
  justify-content: center;
}
.s-dashboard-text04 {
  color: var(--dl-color-grey-grey500);
  height: auto;
  text-align: left;
  line-height: normal;
}
.s-dashboard-frame120 {
  gap: 10px;
  display: flex;
  align-items: center;
  padding-top: 8px 36px;
  padding-left: var(--dl-space-space-twounits);
  border-radius: 4px;
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: 8px 36px;
  justify-content: center;
}
.s-dashboard-text06 {
  color: var(--dl-color-grey-grey500);
  height: auto;
  text-align: left;
  line-height: normal;
}
.s-dashboard-game-list-inner {
  max-width: 540px;
}
.s-dashboard-button {
  width: auto;
  align-self: center;
}
.s-dashboard-column-right {
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.s-dashboard-column-inner1 {
  gap: 24px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.s-dashboard-column-title1 {
  color: rgba(61, 61, 61, 1);
  height: auto;
  opacity: 0.70;
  align-self: stretch;
  text-align: left;
  line-height: normal;
}
.s-dashboard-list-container1 {
  gap: 8px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.s-dashboard-games-list-header1 {
  width: 100%;
  display: flex;
  padding: 0 24px 0 16px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: space-between;
}
.s-dashboard-frame1151 {
  gap: 10px;
  width: 246px;
  display: flex;
  padding: 8px 16px;
  align-items: center;
  flex-shrink: 0;
}
.s-dashboard-text10 {
  color: var(--dl-color-grey-grey500);
  height: auto;
  text-align: left;
  line-height: normal;
}
.s-dashboard-frame1222 {
  gap: 10px;
  display: flex;
  align-items: center;
  padding-top: 8px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 8px;
  justify-content: center;
}
.s-dashboard-text12 {
  color: var(--dl-color-grey-grey500);
  height: auto;
  text-align: left;
  line-height: normal;
}
.s-dashboard-frame1223 {
  gap: 10px;
  display: flex;
  padding: 8px 0;
  align-items: center;
  justify-content: center;
}
.s-dashboard-text13 {
  color: var(--dl-color-grey-grey500);
  height: auto;
  text-align: left;
  line-height: normal;
}
.s-dashboard-frame1211 {
  gap: 10px;
  display: flex;
  padding: 8px 40px;
  align-items: center;
  justify-content: center;
}
.s-dashboard-text15 {
  color: var(--dl-color-grey-grey500);
  height: auto;
  text-align: left;
  line-height: normal;
}
.s-dashboard-frame1201 {
  gap: 10px;
  display: flex;
  padding: 8px 16px;
  align-items: center;
  border-radius: 4px;
  justify-content: center;
}
.s-dashboard-text17 {
  color: var(--dl-color-grey-grey500);
  height: auto;
  text-align: left;
  line-height: normal;
}
.s-dashboard-games-list1 {
  gap: 4px;
  width: 100%;
  height: 340px;
  display: flex;
  padding: 16px;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(235, 235, 235, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 1);
}
.s-dashboard-game-list-inner1 {
  gap: 8px;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  max-width: 540px;
  align-self: stretch;
  overflow-y: scroll;
  align-items: flex-start;
  flex-direction: column;
}
.s-dashboard-recent-updates {
  gap: 16px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.s-dashboard-recent-updates {
  color: rgba(61, 61, 61, 1);
  width: 100%;
  height: auto;
  opacity: 0.70;
  text-align: left;
  line-height: normal;
}
.s-dashboard-recent-update {
  gap: 8px;
  display: flex;
  align-items: center;
}
.s-dashboard-frame105 {
  gap: 4px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.s-dashboard-frame104 {
  gap: 6px;
  display: flex;
  align-items: flex-end;
}
.s-dashboard-text18 {
  color: var(--dl-color-grey-grey800);
  height: auto;
  opacity: 0.80;
  text-align: left;
  line-height: 14px;
}
.s-dashboard-text20 {
  color: var(--dl-color-grey-grey800);
  height: auto;
  font-size: 14px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.s-dashboard-text22 {
  color: var(--dl-color-grey-grey800);
  height: auto;
  opacity: 0.80;
  text-align: left;
  line-height: 14px;
}
.s-dashboard-text24 {
  color: var(--dl-color-grey-grey500);
  height: auto;
  font-size: 10px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-dashboard-recent-update1 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.s-dashboard-frame1051 {
  gap: 4px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.s-dashboard-frame1041 {
  gap: 6px;
  display: flex;
  align-items: flex-end;
}
.s-dashboard-text26 {
  color: var(--dl-color-grey-grey800);
  height: auto;
  opacity: 0.80;
  text-align: left;
  line-height: 14px;
}
.s-dashboard-text28 {
  color: var(--dl-color-grey-grey800);
  height: auto;
  font-size: 14px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.s-dashboard-text30 {
  color: var(--dl-color-grey-grey800);
  height: auto;
  opacity: 0.80;
  text-align: left;
  line-height: 14px;
}
.s-dashboard-text32 {
  color: var(--dl-color-grey-grey500);
  height: auto;
  font-size: 10px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-dashboard-recent-update2 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.s-dashboard-frame1052 {
  gap: 4px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.s-dashboard-frame1042 {
  gap: 6px;
  display: flex;
  align-items: flex-end;
}
.s-dashboard-text34 {
  color: var(--dl-color-grey-grey800);
  height: auto;
  opacity: 0.80;
  text-align: left;
  line-height: 14px;
}
.s-dashboard-text36 {
  color: var(--dl-color-grey-grey500);
  height: auto;
  font-size: 10px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-dashboard-recent-update3 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.s-dashboard-frame1053 {
  gap: 4px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.s-dashboard-frame1043 {
  gap: 6px;
  display: flex;
  align-items: flex-end;
}
.s-dashboard-text38 {
  color: var(--dl-color-grey-grey800);
  height: auto;
  font-size: 14px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.s-dashboard-text40 {
  color: var(--dl-color-grey-grey800);
  height: auto;
  opacity: 0.80;
  text-align: left;
  line-height: 14px;
}
.s-dashboard-text42 {
  color: var(--dl-color-grey-grey500);
  height: auto;
  font-size: 10px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
@media(max-width: 991px) {
  .s-dashboard-content-container {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .s-dashboard-lists-container {
    flex-direction: column;
  }
  .s-dashboard-game-list-inner {
    width: 100%;
    max-width: 100%;
  }
}
@media(max-width: 767px) {
  .s-dashboard-game-list-inner1 {
    max-width: 100%;
  }
}
