.s-payment-information-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.s-payment-information-payments {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  background-color: var(--dl-color-grey-grey200);
}
.s-payment-information-content-container {
  flex: 0 0 auto;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.s-payment-information-frame6109 {
  gap: 20px;
  width: 1170px;
  height: auto;
  display: flex;
  align-self: center;
  margin-top: 50px;
  align-items: flex-start;
  flex-direction: column;
}
.s-payment-information-text {
  color: var(--dl-color-yellow-yellow900);
  height: auto;
  text-align: left;
  line-height: normal;
}
.s-payment-information-frame6036 {
  gap: 30px;
  width: 1170px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.s-payment-information-frame6070 {
  gap: 16px;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
}
.s-payment-information-text01 {
  color: var(--dl-color-grey-grey600);
  height: auto;
  text-align: left;
  line-height: normal;
}
.s-payment-information-earnings-indicators {
  gap: 32px;
  display: flex;
  padding: 24px;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  border-color: rgba(235, 235, 235, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 1);
}
.s-payment-information-frame60701 {
  gap: 16px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: space-between;
}
.s-payment-information-frame6088 {
  gap: 24px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.s-payment-information-text02 {
  color: var(--dl-color-grey-grey600);
  height: auto;
  text-align: left;
  line-height: 16px;
}
.s-payment-information-text03 {
  color: var(--dl-color-yellow-yellow800);
  height: auto;
  font-size: 48px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-payment-information-frame6087 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.s-payment-information-text05 {
  color: var(--dl-color-grey-grey600);
  height: auto;
  text-align: left;
  line-height: 16px;
}
.s-payment-information-text06 {
  color: var(--dl-color-grey-grey600);
  height: auto;
  text-align: left;
  line-height: 16px;
}
.s-payment-information-frame6035 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.s-payment-information-text07 {
  color: var(--dl-color-grey-grey600);
  height: auto;
  text-align: left;
  line-height: normal;
}
.s-payment-information-earnings-chart {
  gap: 24px;
  display: flex;
  padding: 25.466663360595703px;
  align-items: center;
  border-color: rgba(235, 235, 235, 1);
  border-style: solid;
  border-width: 1.050370454788208px;
  border-radius: 16.9777774810791px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.s-payment-information-viz41 {
  width: 518px;
  height: 189px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.s-payment-information-backgorund {
  top: 0px;
  left: 0px;
  width: 518px;
  height: 189px;
  position: absolute;
}
.s-payment-information-viz {
  top: 13.699999809265137px;
  left: 15px;
  width: 493.5px;
  height: 173.40000915527344px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.s-payment-information-group {
  top: 0px;
  left: 0px;
  width: 493.5px;
  height: 173.40000915527344px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.s-payment-information-group01 {
  top: 0px;
  left: 0px;
  width: 493.5px;
  height: 173.40000915527344px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.s-payment-information-group02 {
  top: 12.81874942779541px;
  left: 39.953983306884766px;
  width: 448.092041015625px;
  height: 142.4812469482422px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.s-payment-information-undefined-amount {
  top: 40.97500228881836px;
  left: 0px;
  width: 85px;
  height: 102px;
  position: absolute;
}
.s-payment-information-text08 {
  top: 47.0146484375px;
  left: 18.579345703125px;
  color: var(--dl-color-bluegreen-bluegreen800);
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-payment-information-undefined-amount01 {
  top: 4.65625px;
  left: 90.57938385009766px;
  width: 85px;
  height: 138px;
  position: absolute;
}
.s-payment-information-text10 {
  top: 10.0146484375px;
  left: 109.579345703125px;
  color: var(--dl-color-bluegreen-bluegreen800);
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-payment-information-undefined-amount02 {
  top: 0px;
  left: 181.579345703125px;
  width: 85px;
  height: 142px;
  position: absolute;
}
.s-payment-information-undefined-amount03 {
  top: 31.0146484375px;
  left: 272.579345703125px;
  width: 85px;
  height: 111px;
  position: absolute;
}
.s-payment-information-undefined-amount04 {
  top: 3.0146484375px;
  left: 362.579345703125px;
  width: 85px;
  height: 139px;
  position: absolute;
}
.s-payment-information-undefined-amount05 {
  top: 142.4812469482422px;
  left: 272.4207763671875px;
  width: 85px;
  height: 1px;
  position: absolute;
}
.s-payment-information-text12 {
  top: 6.0146484375px;
  left: 200.579345703125px;
  color: var(--dl-color-bluegreen-bluegreen800);
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-payment-information-text14 {
  top: 37.0146484375px;
  left: 291.579345703125px;
  color: var(--dl-color-yellow-yellow800);
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-payment-information-undefined-amount06 {
  top: 142.4812469482422px;
  left: 363.22772216796875px;
  width: 85px;
  height: 1px;
  position: absolute;
}
.s-payment-information-text16 {
  top: 9.0146484375px;
  left: 381.579345703125px;
  color: var(--dl-color-yellow-yellow800);
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-payment-information-x-axis {
  top: 155.3000030517578px;
  left: 35.5px;
  width: 458px;
  height: 18.100000381469727px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.s-payment-information-vector {
  top: 0.5px;
  left: 0px;
  width: 458px;
  height: 1px;
  position: absolute;
}
.s-payment-information-group03 {
  top: 0px;
  left: 11.886146545410156px;
  width: 70px;
  height: 18.100000381469727px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.s-payment-information-vector01 {
  top: 0px;
  left: 35px;
  width: 0px;
  height: 6px;
  position: absolute;
}
.s-payment-information-text18 {
  top: 6.099999904632568px;
  color: var(--dl-color-grey-grey600);
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-payment-information-group04 {
  top: 0px;
  left: 101.19306945800781px;
  width: 73px;
  height: 18.100000381469727px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.s-payment-information-vector02 {
  top: 0px;
  left: 36.5px;
  width: 0px;
  height: 6px;
  position: absolute;
}
.s-payment-information-text20 {
  top: 6.099999904632568px;
  color: var(--dl-color-grey-grey600);
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-payment-information-group05 {
  top: 0px;
  left: 188.5px;
  width: 80px;
  height: 18.100000381469727px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.s-payment-information-vector03 {
  top: 0px;
  left: 40px;
  width: 0px;
  height: 6px;
  position: absolute;
}
.s-payment-information-text22 {
  top: 6.099999904632568px;
  color: var(--dl-color-grey-grey600);
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-payment-information-group06 {
  top: 0px;
  left: 279.8069152832031px;
  width: 79px;
  height: 18.100000381469727px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.s-payment-information-vector04 {
  top: 0px;
  left: 39.5px;
  width: 0px;
  height: 6px;
  position: absolute;
}
.s-payment-information-text24 {
  top: 6.099999904632568px;
  color: var(--dl-color-grey-grey600);
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-payment-information-group07 {
  top: 0px;
  left: 374.1138610839844px;
  width: 72px;
  height: 18.100000381469727px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.s-payment-information-vector05 {
  top: 0px;
  left: 36px;
  width: 0px;
  height: 6px;
  position: absolute;
}
.s-payment-information-text26 {
  top: 6.099999904632568px;
  color: var(--dl-color-grey-grey600);
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-payment-information-y-axis {
  top: 0px;
  left: 0px;
  width: 35.5px;
  height: 161px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.s-payment-information-vector06 {
  top: 6.800000190734863px;
  left: 35.5px;
  width: 0px;
  height: 149px;
  position: absolute;
}
.s-payment-information-group08 {
  top: 149px;
  left: 19px;
  width: 16px;
  height: 12px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.s-payment-information-vector07 {
  top: 6.800000190734863px;
  left: 10px;
  width: 6px;
  height: 1px;
  position: absolute;
}
.s-payment-information-text28 {
  color: var(--dl-color-grey-grey600);
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: right;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-payment-information-group09 {
  top: 130.375px;
  left: 7px;
  width: 28px;
  height: 12px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.s-payment-information-vector08 {
  top: 6.800000190734863px;
  left: 22px;
  width: 6px;
  height: 1px;
  position: absolute;
}
.s-payment-information-text29 {
  color: var(--dl-color-grey-grey600);
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: right;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-payment-information-group10 {
  top: 111.75px;
  left: 2px;
  width: 33px;
  height: 12px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.s-payment-information-vector09 {
  top: 6.800000190734863px;
  left: 27px;
  width: 6px;
  height: 1px;
  position: absolute;
}
.s-payment-information-text31 {
  color: var(--dl-color-grey-grey600);
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: right;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-payment-information-group11 {
  top: 93.125px;
  left: 2px;
  width: 33px;
  height: 12px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.s-payment-information-vector10 {
  top: 6.800000190734863px;
  left: 27px;
  width: 6px;
  height: 1px;
  position: absolute;
}
.s-payment-information-text33 {
  color: var(--dl-color-grey-grey600);
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: right;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-payment-information-group12 {
  top: 74.5px;
  left: 1px;
  width: 34px;
  height: 12px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.s-payment-information-vector11 {
  top: 6.800000190734863px;
  left: 28px;
  width: 6px;
  height: 1px;
  position: absolute;
}
.s-payment-information-text35 {
  color: var(--dl-color-grey-grey600);
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: right;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-payment-information-group13 {
  top: 55.875px;
  left: 1px;
  width: 34px;
  height: 12px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.s-payment-information-vector12 {
  top: 6.800000190734863px;
  left: 28px;
  width: 6px;
  height: 1px;
  position: absolute;
}
.s-payment-information-text37 {
  color: var(--dl-color-grey-grey600);
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: right;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-payment-information-group14 {
  top: 37.25px;
  left: 0px;
  width: 35px;
  height: 12px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.s-payment-information-vector13 {
  top: 6.800000190734863px;
  left: 29px;
  width: 6px;
  height: 1px;
  position: absolute;
}
.s-payment-information-text39 {
  color: var(--dl-color-grey-grey600);
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: right;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-payment-information-group15 {
  top: 18.625px;
  left: 1px;
  width: 34px;
  height: 12px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.s-payment-information-vector14 {
  top: 6.800000190734863px;
  left: 28px;
  width: 6px;
  height: 1px;
  position: absolute;
}
.s-payment-information-text41 {
  color: var(--dl-color-grey-grey600);
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: right;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-payment-information-group16 {
  top: 0px;
  left: 0px;
  width: 35px;
  height: 12px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.s-payment-information-vector15 {
  top: 6.800000190734863px;
  left: 29px;
  width: 6px;
  height: 1px;
  position: absolute;
}
.s-payment-information-text43 {
  color: var(--dl-color-grey-grey600);
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: right;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-payment-information-frame6092 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
}
.s-payment-information-frame6089 {
  gap: 6px;
  display: flex;
  align-items: flex-start;
}
.s-payment-information-rectangle15 {
  width: 12px;
  height: 12px;
}
.s-payment-information-text45 {
  color: var(--dl-color-grey-grey700);
  height: auto;
  font-size: 10px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-payment-information-frame6090 {
  gap: 6px;
  display: flex;
  align-items: flex-start;
}
.s-payment-information-rectangle151 {
  width: 12px;
  height: 12px;
}
.s-payment-information-text47 {
  color: var(--dl-color-grey-grey700);
  height: auto;
  font-size: 10px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-payment-information-frame6108 {
  gap: 30px;
  height: 338px;
  display: flex;
  align-items: flex-start;
}
.s-payment-information-frame6064 {
  gap: 16px;
  width: 571px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.s-payment-information-text49 {
  color: var(--dl-color-grey-grey600);
  height: auto;
  text-align: left;
  line-height: normal;
}
.s-payment-information-frame6063 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  border-radius: 8px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.s-payment-information-weeks-resume-list-item {
  gap: 16px;
  display: flex;
  padding: 24px 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(235, 235, 235, 1);
  border-style: solid;
  border-width: 0 0 1px;
}
.s-payment-information-frame6062 {
  gap: 24px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: space-between;
}
.s-payment-information-text50 {
  color: var(--dl-color-grey-grey800);
  width: 100px;
  height: auto;
  text-align: left;
  line-height: 16px;
}
.s-payment-information-frame6071 {
  gap: 24px;
  display: flex;
  align-items: flex-start;
}
.s-payment-information-text51 {
  color: var(--dl-color-grey-grey800);
  width: 100px;
  height: auto;
  text-align: center;
  line-height: 16px;
}
.s-payment-information-weeks-resume-list-item1 {
  gap: 16px;
  display: flex;
  padding: 24px 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(235, 235, 235, 1);
  border-style: solid;
  border-width: 0 0 1px;
}
.s-payment-information-frame60621 {
  gap: 24px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: space-between;
}
.s-payment-information-text53 {
  color: var(--dl-color-grey-grey800);
  width: 100px;
  height: auto;
  text-align: left;
  line-height: 16px;
}
.s-payment-information-frame60711 {
  gap: 24px;
  display: flex;
  align-items: flex-start;
}
.s-payment-information-text54 {
  color: var(--dl-color-grey-grey800);
  width: 100px;
  height: auto;
  text-align: center;
  line-height: 16px;
}
.s-payment-information-text55 {
  color: var(--dl-color-yellow-yellow800);
  height: auto;
  font-size: 16px;
  font-style: Bold;
  text-align: right;
  font-family: Inter;
  font-weight: 700;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
.s-payment-information-weeks-resume-list-item2 {
  gap: 16px;
  display: flex;
  padding: 24px 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(235, 235, 235, 1);
  border-style: solid;
  border-width: 0 0 1px;
}
.s-payment-information-frame60622 {
  gap: 24px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: space-between;
}
.s-payment-information-text56 {
  color: var(--dl-color-grey-grey800);
  width: 100px;
  height: auto;
  text-align: left;
  line-height: 16px;
}
.s-payment-information-frame60712 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
}
.s-payment-information-text57 {
  color: var(--dl-color-grey-grey800);
  width: 100px;
  height: auto;
  text-align: center;
  line-height: 16px;
}
.s-payment-information-text58 {
  color: var(--dl-color-yellow-yellow800);
  width: 80px;
  height: auto;
  font-size: 16px;
  font-style: Bold;
  text-align: right;
  font-family: Inter;
  font-weight: 700;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
.s-payment-information-frame60351 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.s-payment-information-text59 {
  color: var(--dl-color-grey-grey500);
  height: auto;
  text-align: left;
  line-height: normal;
}
.s-payment-information-earnings-chart1 {
  gap: 24px;
  display: flex;
  padding: 25.466663360595703px;
  align-items: center;
  border-color: rgba(235, 235, 235, 1);
  border-style: solid;
  border-width: 1.050370454788208px;
  border-radius: 16.9777774810791px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.s-payment-information-viz411 {
  width: 518px;
  height: 189px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.s-payment-information-backgorund1 {
  top: 0px;
  left: 0px;
  width: 518px;
  height: 189px;
  position: absolute;
}
.s-payment-information-viz1 {
  top: 13.699999809265137px;
  left: 15px;
  width: 493.5px;
  height: 173.40000915527344px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.s-payment-information-group17 {
  top: 0px;
  left: 0px;
  width: 493.5px;
  height: 173.40000915527344px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.s-payment-information-group18 {
  top: 0px;
  left: 0px;
  width: 493.5px;
  height: 173.40000915527344px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.s-payment-information-group19 {
  top: 12.81874942779541px;
  left: 39.953983306884766px;
  width: 448.092041015625px;
  height: 142.4812469482422px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.s-payment-information-undefined-amount07 {
  top: 40.97500228881836px;
  left: 0px;
  width: 85px;
  height: 102px;
  position: absolute;
}
.s-payment-information-text60 {
  top: 47.0146484375px;
  left: 18.579345703125px;
  color: var(--dl-color-bluegreen-bluegreen800);
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-payment-information-undefined-amount08 {
  top: 4.65625px;
  left: 90.57938385009766px;
  width: 85px;
  height: 138px;
  position: absolute;
}
.s-payment-information-text62 {
  top: 10.0146484375px;
  left: 109.579345703125px;
  color: var(--dl-color-bluegreen-bluegreen800);
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-payment-information-undefined-amount09 {
  top: 0px;
  left: 181.579345703125px;
  width: 85px;
  height: 142px;
  position: absolute;
}
.s-payment-information-undefined-amount10 {
  top: 31.0146484375px;
  left: 272.579345703125px;
  width: 85px;
  height: 111px;
  position: absolute;
}
.s-payment-information-undefined-amount11 {
  top: 3.0146484375px;
  left: 362.579345703125px;
  width: 85px;
  height: 139px;
  position: absolute;
}
.s-payment-information-undefined-amount12 {
  top: 142.4812469482422px;
  left: 272.4207763671875px;
  width: 85px;
  height: 1px;
  position: absolute;
}
.s-payment-information-text64 {
  top: 6.0146484375px;
  left: 200.579345703125px;
  color: var(--dl-color-bluegreen-bluegreen800);
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-payment-information-text66 {
  top: 37.0146484375px;
  left: 291.579345703125px;
  color: var(--dl-color-yellow-yellow800);
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-payment-information-undefined-amount13 {
  top: 142.4812469482422px;
  left: 363.22772216796875px;
  width: 85px;
  height: 1px;
  position: absolute;
}
.s-payment-information-text68 {
  top: 9.0146484375px;
  left: 381.579345703125px;
  color: var(--dl-color-yellow-yellow800);
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-payment-information-x-axis1 {
  top: 155.3000030517578px;
  left: 35.5px;
  width: 458px;
  height: 18.100000381469727px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.s-payment-information-vector16 {
  top: 0.5px;
  left: 0px;
  width: 458px;
  height: 1px;
  position: absolute;
}
.s-payment-information-group20 {
  top: 0px;
  left: 12.886146545410156px;
  width: 68px;
  height: 18.100000381469727px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.s-payment-information-vector17 {
  top: 0px;
  left: 34px;
  width: 0px;
  height: 6px;
  position: absolute;
}
.s-payment-information-text70 {
  top: 6.099999904632568px;
  color: var(--dl-color-grey-grey600);
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-payment-information-group21 {
  top: 0px;
  left: 102.19306945800781px;
  width: 70px;
  height: 18.100000381469727px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.s-payment-information-vector18 {
  top: 0px;
  left: 35.5px;
  width: 0px;
  height: 6px;
  position: absolute;
}
.s-payment-information-text72 {
  top: 6.099999904632568px;
  color: var(--dl-color-grey-grey600);
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-payment-information-group22 {
  top: 0px;
  left: 194.5px;
  width: 69px;
  height: 18.100000381469727px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.s-payment-information-vector19 {
  top: 0px;
  left: 34px;
  width: 0px;
  height: 6px;
  position: absolute;
}
.s-payment-information-text74 {
  top: 6.099999904632568px;
  color: var(--dl-color-grey-grey600);
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-payment-information-group23 {
  top: 0px;
  left: 275.8069152832031px;
  width: 87px;
  height: 18.100000381469727px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.s-payment-information-vector20 {
  top: 0px;
  left: 43.5px;
  width: 0px;
  height: 6px;
  position: absolute;
}
.s-payment-information-text76 {
  top: 6.099999904632568px;
  color: var(--dl-color-grey-grey600);
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-payment-information-group24 {
  top: 0px;
  left: 382.1138610839844px;
  width: 56px;
  height: 18.100000381469727px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.s-payment-information-vector21 {
  top: 0px;
  left: 28px;
  width: 0px;
  height: 6px;
  position: absolute;
}
.s-payment-information-text78 {
  top: 6.099999904632568px;
  color: var(--dl-color-grey-grey600);
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-payment-information-y-axis1 {
  top: 0px;
  left: 0px;
  width: 35.5px;
  height: 161px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.s-payment-information-vector22 {
  top: 6.800000190734863px;
  left: 35.5px;
  width: 0px;
  height: 149px;
  position: absolute;
}
.s-payment-information-group25 {
  top: 149px;
  left: 19px;
  width: 16px;
  height: 12px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.s-payment-information-vector23 {
  top: 6.800000190734863px;
  left: 10px;
  width: 6px;
  height: 1px;
  position: absolute;
}
.s-payment-information-text80 {
  color: var(--dl-color-grey-grey600);
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: right;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-payment-information-group26 {
  top: 130.375px;
  left: 7px;
  width: 28px;
  height: 12px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.s-payment-information-vector24 {
  top: 6.800000190734863px;
  left: 22px;
  width: 6px;
  height: 1px;
  position: absolute;
}
.s-payment-information-text81 {
  color: var(--dl-color-grey-grey600);
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: right;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-payment-information-group27 {
  top: 111.75px;
  left: 2px;
  width: 33px;
  height: 12px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.s-payment-information-vector25 {
  top: 6.800000190734863px;
  left: 27px;
  width: 6px;
  height: 1px;
  position: absolute;
}
.s-payment-information-text83 {
  color: var(--dl-color-grey-grey600);
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: right;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-payment-information-group28 {
  top: 93.125px;
  left: 2px;
  width: 33px;
  height: 12px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.s-payment-information-vector26 {
  top: 6.800000190734863px;
  left: 27px;
  width: 6px;
  height: 1px;
  position: absolute;
}
.s-payment-information-text85 {
  color: var(--dl-color-grey-grey600);
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: right;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-payment-information-group29 {
  top: 74.5px;
  left: 1px;
  width: 34px;
  height: 12px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.s-payment-information-vector27 {
  top: 6.800000190734863px;
  left: 28px;
  width: 6px;
  height: 1px;
  position: absolute;
}
.s-payment-information-text87 {
  color: var(--dl-color-grey-grey600);
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: right;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-payment-information-group30 {
  top: 55.875px;
  left: 1px;
  width: 34px;
  height: 12px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.s-payment-information-vector28 {
  top: 6.800000190734863px;
  left: 28px;
  width: 6px;
  height: 1px;
  position: absolute;
}
.s-payment-information-text89 {
  color: var(--dl-color-grey-grey600);
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: right;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-payment-information-group31 {
  top: 37.25px;
  left: 0px;
  width: 35px;
  height: 12px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.s-payment-information-vector29 {
  top: 6.800000190734863px;
  left: 29px;
  width: 6px;
  height: 1px;
  position: absolute;
}
.s-payment-information-text91 {
  color: var(--dl-color-grey-grey600);
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: right;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-payment-information-group32 {
  top: 18.625px;
  left: 1px;
  width: 34px;
  height: 12px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.s-payment-information-vector30 {
  top: 6.800000190734863px;
  left: 28px;
  width: 6px;
  height: 1px;
  position: absolute;
}
.s-payment-information-text93 {
  color: var(--dl-color-grey-grey600);
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: right;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-payment-information-group33 {
  top: 0px;
  left: 0px;
  width: 35px;
  height: 12px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.s-payment-information-vector31 {
  top: 6.800000190734863px;
  left: 29px;
  width: 6px;
  height: 1px;
  position: absolute;
}
.s-payment-information-text95 {
  color: var(--dl-color-grey-grey600);
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: right;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-payment-information-frame60921 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
}
.s-payment-information-frame6091 {
  gap: 6px;
  display: flex;
  align-items: flex-start;
}
.s-payment-information-rectangle152 {
  width: 12px;
  height: 12px;
}
.s-payment-information-text97 {
  color: var(--dl-color-grey-grey700);
  height: auto;
  font-size: 10px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
