.s-payment-information-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.s-payment-information-payments {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  background-color: var(--dl-color-grey-grey200);
}
.s-payment-information-content-container {
  flex: 0 0 auto;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.s-payment-information-inner-container {
  gap: 20px;
  width: 100%;
  height: auto;
  display: flex;
  max-width: 1170px;
  align-self: center;
  margin-top: 50px;
  align-items: flex-start;
  flex-direction: column;
}
.s-payment-information-text {
  color: var(--dl-color-yellow-yellow900);
  width: 100%;
  height: auto;
  text-align: left;
  line-height: normal;
}
.s-payment-information-first-row {
  width: 100%;
}
.s-payment-information-balance-container {
  flex: 1;
  width: 100%;
}
.s-payment-information-text1 {
  color: var(--dl-color-grey-grey600);
  height: auto;
  text-align: left;
  line-height: normal;
}
.s-payment-information-text2 {
  color: var(--dl-color-grey-grey600);
  height: auto;
  text-align: left;
  line-height: normal;
}
.s-payment-information-second-row {
  gap: 30px;
  width: 100%;
  height: 338px;
  display: flex;
  align-items: flex-start;
}
.s-payment-information-week-payments-details {
  flex: 1;
  width: 100%;
}
.s-payment-information-text3 {
  color: var(--dl-color-grey-grey600);
  height: auto;
  text-align: left;
  line-height: normal;
}
.s-payment-information-forecasted-weeks {
  gap: 16px;
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.s-payment-information-text4 {
  color: var(--dl-color-grey-grey500);
  height: auto;
  text-align: left;
  line-height: normal;
}
@media(max-width: 991px) {
  .s-payment-information-first-row {
    flex-wrap: wrap;
    flex-direction: row;
  }
}
@media(max-width: 767px) {
  .s-payment-information-first-row {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .s-payment-information-second-row {
    flex-wrap: wrap;
    flex-direction: column;
  }
}
