.s-profile-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.s-profile-resume-section {
  width: 100%;
  max-width: 1170px;
}
.s-profile-name-and-bio {
  max-width: 400px;
}
.s-profile-games-created-container {
  gap: var(--dl-space-space-unit);
  position: relative;
  align-items: center;
  border-radius: 0px;
  flex-direction: column;
  justify-content: center;
}
.s-profile-text2 {
  color: var(--dl-color-grey-grey600);
  height: auto;
  opacity: 0.50;
  text-align: left;
  line-height: 16px;
}
