.forgot-password-form-forgot-password-form {
  gap: 32px;
  width: 470px;
  display: flex;
  padding: 32px;
  position: relative;
  align-self: center;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05000000074505806) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 16px;
  flex-direction: column;
  background-color: var(--dl-color-default-white);
}
.forgot-password-form-form-header {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.forgot-password-form-text {
  color: var(--dl-color-yellow-yellow900);
  height: auto;
  text-align: left;
  line-height: normal;
}
.forgot-password-form-text1 {
  color: var(--dl-color-grey-grey600);
  height: auto;
  font-size: 14px;
  align-self: flex-start;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 500px;
  line-height: 14px;
  font-stretch: normal;
}
.forgot-password-form-forgot-password-form1 {
  width: 100%;
  height: auto;
  display: flex;
}
.forgot-password-form-fields-container {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.forgot-password-form-email {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.forgot-password-form-label-container {
  gap: 10px;
  display: flex;
  padding: 0 0 0 16px;
  align-items: flex-start;
}
.forgot-password-form-text2 {
  color: var(--dl-color-grey-grey700);
  height: auto;
  text-align: left;
  line-height: normal;
}
.forgot-password-form-button {
  gap: 12px;
  display: flex;
  padding: 14px 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 100px;
  justify-content: center;
  background-color: var(--dl-color-yellow-yellow400);
}
.forgot-password-form-text4 {
  color: var(--dl-color-yellow-yellow900);
  height: auto;
  text-align: left;
  line-height: 16px;
}
.forgot-password-form-back-to-login {
  color: var(--dl-color-yellow-yellow600);
  height: auto;
  font-size: 14px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
