.profile-personal-info-profile-personal-info {
  gap: 48px;
  width: 1170px;
  display: flex;
  padding: 32px;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(235, 235, 235, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 16px;
  flex-direction: column;
  background-color: var(--dl-color-default-white);
}
.profile-personal-info-tabs {
  gap: 16px;
  display: flex;
  align-items: flex-start;
}
.profile-personal-info-profile-perosonal-info {
  gap: 48px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.profile-personal-info-form {
  gap: 24px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.profile-personal-info-form-container {
  gap: 40px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.profile-personal-info-frame5985 {
  gap: 24px;
  width: 532.5px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.profile-personal-info-text {
  color: var(--dl-color-yellow-yellow900);
  height: auto;
  text-align: left;
  line-height: normal;
}
.profile-personal-info-frame5983 {
  gap: 30px;
  display: flex;
  align-items: flex-start;
}
.profile-personal-info-general-text-field {
  gap: 8px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.profile-personal-info-label-container {
  gap: 10px;
  display: flex;
  padding: 0 0 0 16px;
  align-items: flex-start;
}
.profile-personal-info-general-text-field1 {
  gap: 8px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.profile-personal-info-label-container1 {
  gap: 10px;
  display: flex;
  padding: 0 0 0 16px;
  align-items: flex-start;
}
.profile-personal-info-text03 {
  color: var(--dl-color-grey-grey700);
  height: auto;
  text-align: left;
  line-height: normal;
}
.profile-personal-info-frame5984 {
  gap: 30px;
  display: flex;
  align-items: flex-start;
}
.profile-personal-info-general-text-field2 {
  gap: 8px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.profile-personal-info-label-container2 {
  gap: 10px;
  display: flex;
  padding: 0 0 0 16px;
  align-items: flex-start;
}
.profile-personal-info-text04 {
  color: var(--dl-color-grey-grey700);
  height: auto;
  text-align: left;
  line-height: normal;
}
.profile-personal-info-general-text-field3 {
  gap: 8px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.profile-personal-info-label-container3 {
  gap: 10px;
  display: flex;
  padding: 0 0 0 16px;
  align-items: flex-start;
}
.profile-personal-info-text05 {
  color: var(--dl-color-grey-grey700);
  height: auto;
  text-align: left;
  line-height: normal;
}
.profile-personal-info-frame59851 {
  gap: 30px;
  display: flex;
  align-items: flex-start;
}
.profile-personal-info-general-text-field4 {
  gap: 8px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.profile-personal-info-label-container4 {
  gap: 10px;
  display: flex;
  padding: 0 0 0 16px;
  align-items: flex-start;
}
.profile-personal-info-text06 {
  color: var(--dl-color-grey-grey700);
  height: auto;
  text-align: left;
  line-height: normal;
}
.profile-personal-info-general-text-field5 {
  gap: 8px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.profile-personal-info-label-container5 {
  gap: 10px;
  display: flex;
  padding: 0 0 0 16px;
  align-items: flex-start;
}
.profile-personal-info-text07 {
  color: var(--dl-color-grey-grey700);
  height: auto;
  text-align: left;
  line-height: normal;
}
.profile-personal-info-frame5986 {
  gap: 24px;
  width: 532.5px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.profile-personal-info-text08 {
  color: var(--dl-color-yellow-yellow900);
  height: auto;
  text-align: left;
  line-height: normal;
}
.profile-personal-info-frame6034 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.profile-personal-info-frame59831 {
  gap: 30px;
  display: flex;
  align-items: flex-start;
}
.profile-personal-info-general-text-field6 {
  gap: 8px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.profile-personal-info-label-container6 {
  gap: 10px;
  display: flex;
  padding: 0 0 0 16px;
  align-items: flex-start;
}
.profile-personal-info-text09 {
  color: var(--dl-color-grey-grey700);
  height: auto;
  text-align: left;
  line-height: normal;
}
.profile-personal-info-general-text-field7 {
  gap: 8px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.profile-personal-info-label-container7 {
  gap: 10px;
  display: flex;
  padding: 0 0 0 16px;
  align-items: flex-start;
}
.profile-personal-info-text10 {
  color: var(--dl-color-grey-grey700);
  height: auto;
  text-align: left;
  line-height: normal;
}
.profile-personal-info-button {
  gap: 12px;
  display: flex;
  padding: 14px 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 100px;
  justify-content: center;
  background-color: var(--dl-color-yellow-yellow200);
}
.profile-personal-info-icon {
  width: 16px;
  height: 16px;
}
.profile-personal-info-text11 {
  color: var(--dl-color-yellow-yellow900);
  height: auto;
  text-align: left;
  line-height: 16px;
}
.profile-personal-info-button-container {
  gap: 10px;
  display: flex;
  align-self: stretch;
  align-items: flex-end;
  flex-direction: column;
}
.profile-personal-info-button1 {
  gap: 12px;
  display: flex;
  padding: 14px 24px;
  align-items: flex-start;
  border-radius: 100px;
  background-color: var(--dl-color-yellow-yellow400);
}
.profile-personal-info-text13 {
  color: var(--dl-color-yellow-yellow900);
  height: auto;
  text-align: left;
  line-height: 16px;
}

