.s-assignor-result-item-container {
  width: 100%;
  height: 72px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.s-assignor-result-item-assignors-results {
  transition: 0.3s;
}

.s-assignor-result-item-assignor-container {
  gap: 229px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
}
.s-assignor-result-item-assignor-info {
  gap: 8px;
  display: flex;
  align-items: center;
}
.s-assignor-result-item-avatar {
  width: 40px;
  height: 40px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.s-assignor-result-item-ellipse36 {
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  position: absolute;
  transition: 0.3s;
  border-color: var(--dl-color-grey-grey500);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-round);
}
.s-assignor-result-item-ellipse36:active {
  border-color: var(--dl-color-yellow-yellow600);
}
.s-assignor-result-item-text-container {
  gap: 4px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.s-assignor-result-item-title {
  color: var(--dl-color-grey-grey700);
  height: auto;
  text-align: left;
  line-height: normal;
}
.s-assignor-result-item-subtitle {
  color: var(--dl-color-grey-grey600);
  height: auto;
  text-align: left;
  line-height: 16px;
}
.s-assignor-result-item-frame183 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.s-assignor-result-item-image {
  width: 16px;
  height: 16px;
  align-self: center;
  object-fit: cover;
}
.s-assignor-result-item-location-text {
  color: var(--dl-color-grey-grey600);
  height: auto;
  text-align: left;
  line-height: 14px;
}
.s-assignor-result-item-checkbox {
  width: 24px;
  height: 24px;
  transition: 0.3s;
  border-color: var(--dl-color-grey-grey400);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
}

.s-assignor-result-item-assignors-results1 {
  transition: 0.3s;
  background-color: var(--dl-color-yellow-yellow500);
}

.s-assignor-result-item-assignor-container1 {
  gap: 229px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
}
.s-assignor-result-item-assignor-info1 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.s-assignor-result-item-avatar1 {
  width: 40px;
  height: 40px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.s-assignor-result-item-ellipse361 {
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  position: absolute;
  transition: 0.3s;
  border-color: var(--dl-color-grey-grey500);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-round);
}
.s-assignor-result-item-ellipse361:active {
  border-color: var(--dl-color-yellow-yellow600);
}
.s-assignor-result-item-text-container1 {
  gap: 4px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.s-assignor-result-item-title1 {
  color: var(--dl-color-yellow-yellow900);
  height: auto;
  text-align: left;
  line-height: normal;
}
.s-assignor-result-item-subtitle1 {
  color: var(--dl-color-yellow-yellow900);
  height: auto;
  text-align: left;
  line-height: 16px;
}
.s-assignor-result-item-frame1831 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.s-assignor-result-item-image1 {
  width: 16px;
  height: 16px;
  align-self: center;
  object-fit: cover;
}
.s-assignor-result-item-location-text1 {
  color: var(--dl-color-yellow-yellow900);
  height: auto;
  text-align: left;
  line-height: 14px;
}
.s-assignor-result-item-checkbox1 {
  width: 24px;
  height: 24px;
  transition: 0.3s;
  border-color: var(--dl-color-grey-grey400);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
}







