.tab-tab {
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  background-color: transparent;
}
.tab-text {
  color: var(--dl-color-grey-grey600);
  height: auto;
  text-align: left;
  transition: 0.3s;
  line-height: 14px;
}
.tab-text:active {
  color: var(--dl-color-yellow-yellow900);
}
.tab-text1 {
  color: var(--dl-color-yellow-yellow900);
  height: auto;
  text-align: left;
  transition: 0.3s;
  line-height: 14px;
}
.tab-text1:active {
  color: var(--dl-color-yellow-yellow900);
}
