@tailwind base;
@tailwind components;
@tailwind utilities;
 
 
 :root {
  --dl-color-gray-500: #595959;
  --dl-color-gray-700: #999999;
  --dl-color-gray-900: #D9D9D9;
  --dl-size-size-large: 144px;
  --dl-size-size-small: 48px;
  --dl-color-danger-300: #A22020;
  --dl-color-danger-500: #BF2626;
  --dl-color-danger-700: #E14747;
  --dl-color-gray-black: #000000;
  --dl-color-gray-white: #FFFFFF;
  --dl-size-size-medium: 96px;
  --dl-size-size-xlarge: 192px;
  --dl-size-size-xsmall: 16px;
  --dl-space-space-unit: 16px;
  --dl-color-primary-100: #003EB3;
  --dl-color-primary-300: #0074F0;
  --dl-color-primary-500: #14A9FF;
  --dl-color-primary-700: #85DCFF;
  --dl-color-success-300: #199033;
  --dl-color-success-500: #32A94C;
  --dl-color-success-700: #4CC366;
  --dl-size-size-xxlarge: 288px;
  --dl-color-grey-grey100: rgba(252, 252, 252, 1);
  --dl-color-grey-grey200: rgba(245, 245, 245, 1);
  --dl-color-grey-grey300: rgba(235, 235, 235, 1);
  --dl-color-grey-grey400: rgba(204, 204, 204, 1);
  --dl-color-grey-grey500: rgba(163, 163, 163, 1);
  --dl-color-grey-grey600: rgba(122, 122, 122, 1);
  --dl-color-grey-grey700: rgba(92, 92, 92, 1);
  --dl-color-grey-grey800: rgba(61, 61, 61, 1);
  --dl-color-grey-grey900: rgba(23, 23, 23, 1);
  --dl-size-size-maxwidth: 1400px;
  --dl-color-default-white: rgba(255, 255, 255, 1);
  --dl-radius-radius-round: 50%;
  --dl-space-space-halfunit: 8px;
  --dl-space-space-sixunits: 96px;
  --dl-space-space-twounits: 32px;
  --dl-color-system-alert200: rgba(255, 241, 214, 1);
  --dl-color-system-alert500: rgba(255, 171, 0, 1);
  --dl-color-system-alert800: rgba(82, 54, 0, 1);
  --dl-color-system-error200: rgba(255, 222, 214, 1);
  --dl-color-system-error500: rgba(255, 86, 48, 1);
  --dl-color-system-error800: rgba(102, 20, 0, 1);
  --dl-color-yellow-yellow50: rgba(255, 252, 244, 1);
  --dl-radius-radius-radius2: 2px;
  --dl-radius-radius-radius4: 4px;
  --dl-radius-radius-radius8: 8px;
  --dl-space-space-fiveunits: 80px;
  --dl-space-space-fourunits: 64px;
  --dl-color-default-error700: rgba(195, 26, 0, 1);
  --dl-color-yellow-yellow100: rgba(254, 250, 235, 1);
  --dl-color-yellow-yellow200: rgba(253, 241, 196, 1);
  --dl-color-yellow-yellow300: rgba(251, 226, 137, 1);
  --dl-color-yellow-yellow400: rgba(248, 211, 71, 1);
  --dl-color-yellow-yellow500: rgba(246, 197, 19, 1);
  --dl-color-yellow-yellow600: rgba(197, 156, 7, 1);
  --dl-color-yellow-yellow700: rgba(138, 109, 5, 1);
  --dl-color-yellow-yellow800: rgba(79, 62, 3, 1);
  --dl-color-yellow-yellow900: rgba(39, 31, 1, 1);
  --dl-space-space-threeunits: 48px;
  --dl-color-default-success100: rgba(196, 246, 179, 1);
  --dl-color-default-success500: rgba(1, 147, 33, 1);
  --dl-color-default-success800: rgba(0, 63, 14, 1);
  --dl-color-bluegreen-bluegreen50: rgba(245, 255, 255, 1);
  --dl-space-space-oneandhalfunits: 24px;
  --dl-color-bluegreen-bluegreen100: rgba(235, 255, 255, 1);
  --dl-color-bluegreen-bluegreen200: rgba(194, 255, 255, 1);
  --dl-color-bluegreen-bluegreen300: rgba(153, 255, 255, 1);
  --dl-color-bluegreen-bluegreen400: rgba(0, 245, 245, 1);
  --dl-color-bluegreen-bluegreen500: rgba(0, 204, 204, 1);
  --dl-color-bluegreen-bluegreen600: rgba(0, 166, 166, 1);
  --dl-color-bluegreen-bluegreen700: rgba(0, 122, 122, 1);
  --dl-color-bluegreen-bluegreen800: rgba(0, 61, 61, 1);
  --dl-color-bluegreen-bluegreen900: rgba(0, 41, 41, 1);
}
.button {
  color: var(--dl-color-gray-black);
  display: inline-block;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.input {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.textarea {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.list {
  width: 100%;
  margin: 1em 0px 1em 0px;
  display: block;
  padding: 0px 0px 0px 1.5rem;
  list-style-type: none;
  list-style-position: outside;
}
.list-item {
  display: list-item;
}
.teleport-show {
  display: flex !important;
  transform: none !important;
}
.default {
  gap: 24px;
  width: 100%;
  height: auto;
  display: flex;
  padding: 16px;
  overflow: hidden;
  align-self: stretch;
  transition: 0.3s;
  align-items: center;
  flex-shrink: 0;
  padding-left: 16px;
  border-radius: 8px;
  background-color: rgba(245, 245, 245, 1);
}
.default:active {
  background-color: var(--dl-color-yellow-yellow500);
}
.enrique {
  border: 1px solid red;
  padding: 100px;
  background-color: var(--dl-color-system-alert500);
}


.modalTitle {
  color: var(--dl-color-grey-grey600);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: normal;
}

.fieldLabel {
  color: var(--dl-color-grey-grey700);
  height: auto;
  text-align: left;
  line-height: normal;
}
.switchOn {
  gap: 10px;
  width: 44px;
  display: flex;
  padding: 4px;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(248, 211, 71, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 100px;
  justify-content: flex-end;
  background-color: var(--dl-color-yellow-yellow100);
}
.switchOff {
  flex: 0 0 auto;
  width: var(--dl-size-size-small);
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}
.gameName {
  color: var(--dl-color-grey-grey800);
  height: auto;
  flex-grow: 1;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
.gameIdContainer {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  padding: 4px;
  align-items: flex-start;
  background-color: var(--dl-color-grey-grey200);
}
.idValue {
  color: var(--dl-color-grey-grey900);
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
}
.dateContainer {
  gap: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.gameItem {
  width: 100%;
  height: 72px;
  display: flex;
  padding: 0px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.btnGrey {
  width: 106px;
  height: 46px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.btnGreyPrimary {
  gap: 12px;
  width: 100%;
  cursor: pointer;
  height: auto;
  display: flex;
  align-self: flex-start;
  transition: 0.3s;
  align-items: center;
  padding-top: 14px;
  padding-left: 24px;
  border-radius: 100px;
  padding-right: 24px;
  flex-direction: column;
  padding-bottom: 14px;
  justify-content: center;
  background-color: var(--dl-color-grey-grey900);
}
.btnGreyPrimary:hover {
  background-color: #fbe289;
}
.btnGreyTonal {
  gap: 12px;
  width: 100%;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-self: flex-start;
  transition: 0.3s;
  align-items: center;
  padding-top: 14px;
  padding-left: 24px;
  border-radius: 100px;
  padding-right: 24px;
  flex-direction: column;
  padding-bottom: 14px;
  justify-content: center;
  background-color: var(--dl-color-grey-grey200);
}
.btnGreyTonal:hover {
  background-color: #fbe289;
}
.btnGreyOutline {
  gap: 12px;
  width: 100%;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-self: flex-start;
  transition: 0.3s;
  align-items: center;
  padding-top: 14px;
  border-color: var(--dl-color-grey-grey500);
  border-width: 1px;
  padding-left: 24px;
  border-radius: 100px;
  padding-right: 24px;
  flex-direction: column;
  padding-bottom: 14px;
  justify-content: center;
  background-color: white;
}
.btnGreyOutline:hover {
  background-color: #fbe289;
}
.btnGreyText {
  gap: 12px;
  width: 100%;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-self: flex-start;
  transition: 0.3s;
  align-items: center;
  padding-top: 14px;
  padding-left: 24px;
  border-radius: 100px;
  padding-right: 24px;
  flex-direction: column;
  padding-bottom: 14px;
  justify-content: center;
}
.btnGreyText:hover {
  background-color: #fbe289;
}
.btnYellow {
  width: 106px;
  height: 46px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.btnPrimary {
  gap: 12px;
  width: 100%;
  cursor: pointer;
  height: auto;
  display: flex;
  align-self: flex-start;
  transition: 0.3s;
  align-items: center;
  padding-top: 14px;
  padding-left: 24px;
  border-radius: 100px;
  padding-right: 24px;
  flex-direction: column;
  padding-bottom: 14px;
  justify-content: center;
  background-color: var(--dl-color-yellow-yellow400);
}
.btnPrimary:hover {
  background-color: #fbe289;
}
.btnTonal {
  gap: 12px;
  width: 100%;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-self: flex-start;
  transition: 0.3s;
  align-items: center;
  padding-top: 14px;
  padding-left: 24px;
  border-radius: 100px;
  padding-right: 24px;
  flex-direction: column;
  padding-bottom: 14px;
  justify-content: center;
  background-color: var(--dl-color-yellow-yellow200);
}
.btnTonal:hover {
  background-color: #fbe289;
}
.btnOutline {
  gap: 12px;
  width: 100%;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-self: flex-start;
  transition: 0.3s;
  align-items: center;
  padding-top: 14px;
  border-color: var(--dl-color-yellow-yellow600);
  border-width: 1px;
  padding-left: 24px;
  border-radius: 100px;
  padding-right: 24px;
  flex-direction: column;
  padding-bottom: 14px;
  justify-content: center;
  background-color: white;
}
.btnOutline:hover {
  background-color: #fbe289;
}
.btnText {
  gap: 12px;
  width: 100%;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-self: flex-start;
  transition: 0.3s;
  align-items: center;
  padding-top: 14px;
  padding-left: 24px;
  border-radius: 100px;
  padding-right: 24px;
  flex-direction: column;
  padding-bottom: 14px;
  justify-content: center;
}
.btnText:hover {
  background-color: #fbe289;
}
.navBar {
  width: 100%;
  height: 72px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 135px;
  padding-right: 135px;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
  background-color: var(--dl-color-default-white);
}
.desktopMenu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.unLoggedLinks {
  flex: 1;
  display: flex;
  align-items: center;
  margin-right: 20px;
  flex-direction: row;
  justify-content: flex-end;
}
.usersLinksContainer {
  flex: 0 0 auto;
  width: 500px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.sportOrgLinks {
  flex: 1;
  display: flex;
  align-items: center;
  margin-right: 20px;
  flex-direction: row;
  justify-content: flex-end;
}
.refereeLinks {
  flex: 1;
  display: flex;
  align-items: center;
  margin-right: 20px;
  flex-direction: row;
  justify-content: flex-end;
}
.assignorLinks {
  flex: 1;
  display: flex;
  align-items: center;
  margin-right: 20px;
  flex-direction: row;
  justify-content: flex-end;
}
.tab {
  gap: 10px;
  height: 48px;
  display: flex;
  padding: 17px 16px;
  position: relative;
  align-self: stretch;
  transition: 0.3s;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  flex-direction: column;
  justify-content: center;
  background-color: white;
}
.tab:active {
  background-color: var(--dl-color-yellow-yellow400);
}
.footer-link {
  color: var(--dl-color-yellow-yellow600);
  height: auto;
  text-align: left;
  line-height: 14px;
}
.footer-copy {
  color: var(--dl-color-grey-grey700);
  height: auto;
  text-align: left;
  line-height: 14px;
}
.footer-info-container {
  gap: 69px;
  width: 470px;
  display: flex;
  align-items: flex-start;
}
.footer {
  flex: 0 0 auto;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-container {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-default-white);
}
.form-header {
  gap: 24px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.form-title {
  color: var(--dl-color-yellow-yellow900);
  height: auto;
  text-align: left;
  line-height: normal;
}
.form-subtitle {
  color: var(--dl-color-grey-grey600);
  height: auto;
  text-align: left;
  line-height: normal;
}
.form-fields-container {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.input-container {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.label-container {
  gap: 10px;
  display: flex;
  padding: 0 0 0 16px;
  align-items: flex-start;
}
.input-label {
  color: var(--dl-color-grey-grey700);
  height: auto;
  text-align: left;
  line-height: normal;
}
.forgot-password-link-container {
  gap: 8px;
  display: flex;
  align-items: flex-start;
}
.form-link {
  color: var(--dl-color-yellow-yellow600);
  height: auto;
  font-size: 14px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.switch-form-container {
  gap: 8px;
  display: flex;
  align-items: flex-start;
}
.form-fields-register {
  gap: 24px;
  display: flex;
  align-items: flex-start;
}
.content-container {
  width: 100%;
  height: auto;
  display: flex;
  max-width: 1170px;
  align-items: flex-start;
  flex-direction: column;
}
.page-title {
  color: var(--dl-color-grey-grey800);
  height: auto;
  text-align: left;
  line-height: normal;
}
.column-title {
  color: rgba(61, 61, 61, 1);
  height: auto;
  opacity: 0.70;
  align-self: stretch;
  text-align: left;
  line-height: normal;
}
.list-container {
  gap: 8px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.game-list-header {
  gap: 16;
  width: 100%;
  display: flex;
  padding: 0 0 0 16px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
}
.games-list {
  gap: 4px;
  width: 100%;
  height: 620px;
  display: flex;
  padding: 16px;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(235, 235, 235, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 1);
}
.column-inner {
  gap: 24px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.dashboard-column-50 {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  width: 50%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.recent-updates {
  gap: 24px;
  width: 100%;
  height: 276px;
  display: flex;
  padding: 24px;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(235, 235, 235, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 16px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.gameItem-container {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: 12px;
  border-color: var(--dl-color-grey-grey300);
  border-width: 1px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: 12px;
  background-color: var(--dl-color-gray-white);
}
.gameId-container {
  flex: 0 0 auto;
  width: 50px;
  height: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.gameId-tag {
  flex: 0 0 auto;
  width: auto;
  height: 20px;
  display: flex;
  padding: 4px;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  background-color: var(--dl-color-grey-grey200);
}
.tagLevel-container {
  gap: 8px;
  display: flex;
  padding: 10px;
  align-items: center;
  border-radius: 4px;
  background-color: var(--dl-color-bluegreen-bluegreen100);
}
.tagLevel-value {
  color: var(--dl-color-bluegreen-bluegreen800);
  height: auto;
  font-size: 12px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.date-container {
  gap: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.date-value {
  color: var(--dl-color-grey-grey800);
  height: auto;
  text-align: left;
  line-height: 14px;
}
.pay-container {
  gap: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.pay-value {
  color: var(--dl-color-grey-grey800);
  height: auto;
  font-size: 14px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.refereesAmount-container {
  flex: 0 0 auto;
  width: 44px;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-end;
  flex-direction: column;
  justify-content: space-between;
}
.amount-incompleted {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.amount-completed {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.refereeIncompleted-value {
  color: var(--dl-color-default-error700);
  font-size: 12px;
  letter-spacing: 0.4px;
}
.refereeCompleted-value {
  color: var(--dl-color-default-success500);
  font-size: 12px;
  letter-spacing: 0.4px;
}
.amount-icon {
  width: 14px;
  object-fit: cover;
}
.gameList-inner {
  gap: 8px;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-self: stretch;
  overflow-y: scroll;
  align-items: flex-start;
  flex-direction: column;
}
.date-icon {
  width: 14px;
  height: 14px;
}
.venue-container {
  gap: 8px;
  display: flex;
  align-items: flex-start;
}
.venue-icon {
  width: 14px;
  height: 14px;
}
.venueValue-container {
  gap: 4px;
  display: flex;
  align-items: flex-start;
}
.venueValue {
  color: var(--dl-color-grey-grey800);
  height: auto;
  text-align: left;
  line-height: 14px;
}
.venueInfoIcon {
  width: 12px;
  height: 12px;
}
.sportOrg-container {
  gap: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sportOrg-logo {
  width: 24px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.sportOrgLogo-im {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.sportOrg-value {
  color: var(--dl-color-grey-grey800);
  height: auto;
  text-align: left;
  line-height: 14px;
}
.status-container {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.status-label {
  flex: 0 0 auto;
  width: 97px;
  height: 33px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.status-publishedTag {
  flex: 0 0 auto;
  width: 100%;
  height: 33px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  justify-content: center;
  background-color: var(--dl-color-default-success100);
  border-top-right-radius: var(--dl-radius-radius-radius4);
}
.status-hiddenTag {
  flex: 0 0 auto;
  width: 100%;
  height: 33px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  justify-content: center;
  background-color: var(--dl-color-grey-grey300);
  border-top-right-radius: var(--dl-radius-radius-radius4);
}
.refereeCount-container {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.refereesCount-icon {
  width: 14px;
  height: 14px;
}
.refereesCount-value {
  color: var(--dl-color-grey-grey800);
  height: auto;
  text-align: left;
  line-height: 14px;
}
.linksITem {
  color: var(--dl-color-grey-grey600);
  cursor: pointer;
  transition: 0.3s;
}
.linksITem:focus-visible {
  height: auto;
  border-color: var(--dl-color-yellow-yellow300);
  border-width: 2px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.linksITem:hover {
  color: var(--dl-color-grey-grey900);
}
.rightBlock {
  gap: 24px;
  display: flex;
  align-items: center;
}
.navBarLogo {
  height: 2rem;
}
.menuContainer {
  flex: 0 0 auto;
  width: 850px;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.buttonContainer {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.navBarNotifications {
  gap: 10px;
  display: flex;
  padding: 8px;
  position: relative;
  align-items: flex-start;
  border-radius: 100px;
  background-color: var(--dl-color-default-white);
}
.notificationNumber {
  gap: 10px;
  top: -5px;
  right: -6px;
  width: 14px;
  height: 14px;
  display: flex;
  padding: 4px;
  z-index: 1;
  position: absolute;
  box-sizing: content-box;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(254, 250, 235, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 100px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-system-error500);
}
.dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  height: auto;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
}
.dropdown-arrow {
  transition: 0.3s;
}
.dropdown-dots {
  width: 24px;
  height: 24px;
  object-fit: cover;
}
.dropdown-list {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.topContainer {
  gap: 40px;
  width: 100%;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.overlineL {
  color: var(--dl-color-grey-grey500);
  height: auto;
  text-align: left;
  line-height: normal;
  letter-spacing: 1.5px;
}
.assignorListItem {
  gap: 32px;
  width: 100%;
  height: auto;
  display: flex;
  padding: 24px 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(235, 235, 235, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  padding-right: 24px 16px;
  background-color: rgba(255, 255, 255, 1);
}
.assignorListItemActive {
  gap: 32px;
  width: 100%;
  height: auto;
  display: flex;
  padding: 24px 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: var(--dl-color-yellow-yellow300);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  padding-right: 24px 16px;
  background-color: var(--dl-color-yellow-yellow100);
}
.userInfo {
  gap: 12px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.profileContainer {
  gap: 8px;
  display: flex;
  align-items: center;
}
.profileName {
  color: var(--dl-color-yellow-yellow900);
  height: auto;
  text-align: left;
  line-height: 16px;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  padding-top: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-grey-grey200);
}
.sportOrgName {
  color: var(--dl-color-grey-grey700);
  height: auto;
  opacity: 0.70;
  text-align: left;
  line-height: 16px;
}
.inner-container {
  gap: 24px;
  width: 100%;
  display: flex;
  max-width: 1170px;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
}
.resumeSection {
  gap: 91px;
  width: 1170px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.profileAvatar {
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  position: absolute;
}
.about-container {
  gap: 24px;
  display: flex;
  align-items: center;
}
.contactInfoContainer {
  gap: 48px;
  display: flex;
  align-items: flex-start;
}
.avatar-container {
  width: 120px;
  height: 120px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.avatar-photo {
  top: 0px;
  left: 0px;
  width: 120px;
  height: 120px;
  position: absolute;
}
.contactItem {
  gap: 8px;
  width: 160px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.nameAndBio {
  gap: 8px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.sportOrg-name {
  color: var(--dl-color-yellow-yellow900);
  height: auto;
  text-align: left;
  line-height: normal;
}
.sportOrg-bio {
  color: var(--dl-color-grey-grey600);
  width: auto;
  height: auto;
  text-align: left;
  line-height: 16px;
}
.searchContainer {
  gap: 12px;
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.searchBar {
  gap: 16px;
  height: 44px;
  display: flex;
  padding: 15px 16px 15px 12px;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
}
.select {
  color: #A3A3A3;
  width: 170px;
  height: 44px;
  font-size: 14px;
  font-weight: 400;
  padding-top: 10px;
  padding-left: 16px;
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: 16px;
  padding-bottom: 10px;
}
.body-1 {
  color: var(--dl-color-grey-grey600);
  height: auto;
  text-align: left;
  line-height: 16px;
}
.paymentsAmount {
  color: var(--dl-color-yellow-yellow800);
  height: auto;
  font-size: 16px;
  font-style: Bold;
  text-align: right;
  font-family: Inter;
  font-weight: 700;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
.tabDefault {
  flex: 0 0 auto;
  width: 100%;
  height: 48px;
  display: flex;
  padding: 17px;
  margin-top: 0px;
  align-items: center;
  margin-right: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.tabActive {
  flex: 0 0 auto;
  width: 100%;
  height: 48px;
  display: flex;
  padding: 17px;
  margin-top: 0px;
  align-items: center;
  margin-right: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  justify-content: center;
  background-color: var(--dl-color-yellow-yellow400);
}
.overlineS {
  color: var(--dl-color-yellow-yellow700);
  height: auto;
  text-align: left;
  line-height: normal;
}
.subtitle-1 {
  color: var(--dl-color-yellow-yellow900);
  height: auto;
  text-align: left;
  line-height: normal;
}
.formContainer {
  gap: 40px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.searchFields {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.filterByDates {
  color: var(--dl-color-grey-grey700);
}
.dateFilterContainer {
  gap: 8px;
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.dateFromInput {
  color: #a3a3a3;
  width: 120px;
  height: 44px;
  font-size: 14px;
  padding-top: 10px;
  border-width: 0px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 10px;
}
.dateToInput {
  color: #a3a3a3;
  width: 120px;
  height: 44px;
  font-size: 14px;
  padding-top: 10px;
  border-width: 0px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 10px;
}
.filtersSeparator {
  flex: 0 0 auto;
  width: 44px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 1px;
  display: flex;
  transform: rotate(90deg);
  align-items: flex-start;
  background-color: var(--dl-color-grey-grey500);
}
.sportFilter {
  color: #A3A3A3;
  width: 150px;
  height: 44px;
  font-size: 14px;
  font-weight: 400;
  padding-top: 10px;
  padding-left: 16px;
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: 16px;
  padding-bottom: 10px;
}
.gameLevelFilter {
  color: #A3A3A3;
  width: auto;
  height: 44px;
  font-size: 14px;
  font-weight: 400;
  padding-top: 10px;
  padding-left: 16px;
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: 16px;
  padding-bottom: 10px;
}
.gameStatusFilter {
  color: #A3A3A3;
  width: auto;
  height: 44px;
  font-size: 14px;
  font-weight: 400;
  padding-top: 10px;
  padding-left: 16px;
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: 16px;
  padding-bottom: 10px;
}
.gamesListContainer {
  gap: 8px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.gamesCreatedContainer {
  gap: 40px;
  display: flex;
  align-items: flex-start;
  border-radius: 24px;
}
.highliteAmount {
  color: var(--dl-color-yellow-yellow900);
  height: auto;
  text-align: left;
  line-height: normal;
}
.formRow {
  gap: 30px;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.btnContainer {
  gap: 10px;
  display: flex;
  align-self: stretch;
  align-items: flex-end;
  flex-direction: column;
}
.paymentsRow {
  gap: 30px;
  width: 1170px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.balanceContainer {
  gap: 16px;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
}
.earningsIndicator {
  gap: 32px;
  display: flex;
  padding: 24px;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  border-color: rgba(235, 235, 235, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 1);
}
.earningsInner {
  gap: 16px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: space-between;
}
.earningsData {
  gap: 24px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.earningsDate {
  color: var(--dl-color-grey-grey600);
  height: auto;
  text-align: left;
  line-height: 16px;
}
.earningsValue {
  color: var(--dl-color-yellow-yellow800);
  height: auto;
  font-size: 48px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.monthBalance {
  gap: 16px;
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.earningsChart {
  gap: 24px;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 220px;
  display: flex;
  padding: 25.466663360595703px;
  align-items: center;
  border-color: rgba(235, 235, 235, 1);
  border-style: solid;
  border-width: 1.050370454788208px;
  border-radius: 16.9777774810791px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.pamentsList {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  border-radius: 8px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.paymentsDetailsContainer {
  gap: 16px;
  width: 571px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.forecastedCharts {
  gap: 24px;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 220px;
  display: flex;
  padding: 25.466663360595703px;
  align-items: center;
  border-color: rgba(235, 235, 235, 1);
  border-style: solid;
  border-width: 1.050370454788208px;
  border-radius: 16.9777774810791px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.pairedAssignorContainer {
  gap: 16px;
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.anotherAssignorsContainer {
  gap: 16px;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-oneandhalfunits);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.anotherAssignorsList {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  max-height: 600px;
  overflow-y: scroll;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.gamesListHeader {
  width: 1170px;
  display: flex;
  padding: 0 16px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
}
.pairAssignorsContainer {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: 980px;
  align-items: flex-start;
  flex-direction: column;
}
.pairFirstRow {
  gap: 40px;
  width: 100%;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.placeholderContainer {
  width: 100%;
  height: 367px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 1;
  padding-left: 32px;
  border-radius: 24px;
  background-color: rgba(255, 255, 255, 1);
}
.headerContainer {
  gap: 16px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.searchFieldsContainer {
  gap: 12px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.locationFilter {
  color: #A3A3A3;
  width: 170px;
  height: 44px;
  font-size: 14px;
  font-weight: 400;
  padding-top: 10px;
  padding-left: 16px;
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: 16px;
  padding-bottom: 10px;
}
.placeholderTextContainer {
  gap: 24px;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.placeholderText {
  color: var(--dl-color-grey-grey800);
  width: 444px;
  height: auto;
  text-align: left;
  line-height: normal;
}
.placeholderSubtitle {
  color: var(--dl-color-grey-grey600);
  height: auto;
  text-align: left;
  line-height: normal;
}
.placeholderImg {
  top: 0px;
  right: 0px;
  width: 551px;
  height: 368px;
  position: absolute;
  border-radius: 0 24px 24px 0;
}
.modalHeader {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.modalBody {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.modalFooter {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: flex-end;
}
.modalTitleRow {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.modalSearchAndFilters {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.modalAssignorResults {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.assignorResultSelected {
  gap: 24px;
  display: flex;
  padding: 16px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  background-color: var(--dl-color-yellow-yellow300);
}
.assignorResultNormal {
  gap: 24px;
  display: flex;
  padding: 16px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  background-color: var(--dl-color-grey-grey200);
}
.resultInfoContainer {
  gap: 109px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
}
.resultCheck {
  gap: 10px;
  display: flex;
  padding: 4px;
  align-items: flex-start;
  border-radius: 4px;
  background-color: var(--dl-color-default-white);
}
.totalGamesAssigned {
  gap: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.averagePerGame {
  gap: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.rightColumn {
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.experienceContainer {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.Body3 {
  font-size: 12px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
}
.Heading {
  font-size: 32px;
  font-family: Inter;
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.Body1 {
  font-size: 16px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
}
.Body2 {
  font-size: 14px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
}
.ButtonM {
  font-size: 14px;
  font-style: normal;
  font-family: Inter;
  font-weight: 500px;
  font-stretch: normal;
}
.Subtitle2 {
  font-size: 14px;
  font-style: normal;
  font-family: Inter;
  font-weight: 500px;
  font-stretch: normal;
}
.ButtonS {
  font-size: 12px;
  font-style: normal;
  font-family: Inter;
  font-weight: 500px;
  font-stretch: normal;
}
.Content {
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.Headine1 {
  font-size: 32px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
}
.Headine3 {
  font-size: 20px;
  font-style: normal;
  font-family: Inter;
  font-weight: 500px;
  font-stretch: normal;
}
.BodyLeadText {
  font-size: 21px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
}
.Subtitle1 {
  font-size: 16px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
}
.BodyMediumBaseText {
  font-size: 14px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
}
.Headine2 {
  font-size: 24px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
}
.OverlineS {
  font-size: 10px;
  font-style: normal;
  font-family: Inter;
  font-weight: 500px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
.OverlineL {
  font-size: 12px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  text-transform: uppercase;
}
.ButtonL {
  font-size: 16px;
  font-style: normal;
  font-family: Inter;
  font-weight: 500px;
  font-stretch: normal;
}
.Caption {
  font-size: 12px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
}
@media(max-width: 1200px) {
  .gameItem {
    height: var(--dl-size-size-medium);
  }
  .navBar {
    padding-left: 135px;
    padding-right: 135px;
  }
  .desktopMenu {
    display: none;
  }
  .unLoggedLinks {
    margin-right: 20px;
    justify-content: flex-end;
  }
  .sportOrgLinks {
    margin-right: 20px;
    justify-content: flex-end;
  }
  .refereeLinks {
    margin-right: 20px;
    justify-content: flex-end;
  }
  .assignorLinks {
    margin-right: 20px;
    justify-content: flex-end;
  }
}
@media(max-width: 991px) {
  .formRow {
    flex-wrap: wrap;
  }
  .gamesListHeader {
    width: 100%;
    max-width: 1170px;
  }
  .pairAssignorsContainer {
    padding-left: 24px;
    padding-right: 24px;
  }
  .placeholderText {
    width: 100%;
  }
}
@media(max-width: 767px) {
  .navBar {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .gameItem-container {
    gap: var(--dl-space-space-twounits);
  }
  .placeholderText {
    max-width: 200px;
  }
}
@media(max-width: 479px) {
  .navBar {
    padding: var(--dl-space-space-unit);
  }
}
